extends layout

block content
  h1 Welcome to Cerebro API
  p The endpoints currently supported include:
  ul
    li <a href="/projects">Projects</a>
    li <a href="/media">Media</a>
    li <a href="/users">Users</a>
    li <a href="/templates">Project Templates</a>
    li <a href="/session">Session</a>
    li <a href="/fileupload">File Uploads</a>
