<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cerebro</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
                      data-toggle="collapse" data-target="#navbar"
                      aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/app/#/home"">Cerebro</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav" ng-show="globals.currentUser">
                  <li><a href="#dashboard">My Dashboard</a></li>
                  <li><a href="#projects">Projects</a></li>
                  <li><a href="#media">Artifacts</a></li>
                  <li><a href="#admin">Administration</a></li>
              </ul>
          </div><!--/.nav-collapse -->
      </div>
  </nav>
  <div style="right:10px; top:5px;z-index: 1040; position:fixed" ng-show="globals.currentUser">
      <span style="color:white">Welcome {{globals.currentUser.fullname}} &nbsp;&nbsp;</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/AWS_Simple_Icons_Non-Service_Specific_User.svg/2000px-AWS_Simple_Icons_Non-Service_Specific_User.svg.png"
           alt="LoggedIn" ng-if="!globals.currentUser.avatar"
           height="40" width="40" style="border-radius:30px;border:1px solid grey;">&nbsp;&nbsp;
      <img ng-src="{{globals.currentUser.avatar}}"
           alt="LoggedIn" ng-if="globals.currentUser.avatar"
           height="40" width="40" style="border-radius:30px;border:1px solid grey;">&nbsp;&nbsp;
      <a href="#/login" class="btn btn-info btn-xs">
          <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
  </div>
  <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash);"></flash-message>
  <div ng-view style="margin-top:100px;">

  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-flash-alert/dist/angular-flash.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
  <script src="app.js"></script>
  <script src="home/home.js"></script>
  <script src="dashboard/dashboard.js"></script>
  <script src="admin/admin.js"></script>
  <script src="media/media.js"></script>
  <script src="upload/upload.js"></script>
  <script src="media/upload/upload.js"></script>
  <script src="projects/projects.js"></script>
  <script src="project/project.js"></script>
  <script src="project/feedback/project.feedback.js"></script>
  <script src="project/risks/project.risks.js"></script>
  <script src="project/phase/project.phase.js"></script>
  <script src="project/milestone/project.milestone.js"></script>
  <script src="login/login.js"></script>
  <script src="register/register.js"></script>
  <script src="services/AuthenticationService.js"></script>
  <script src="services/UserService.js"></script>
  <script src="services/ProjectService.js"></script>
  <script src="services/ConfigService.js"></script>
  <script src="services/TemplateService.js"></script>
  <script src="services/MediaService.js"></script>
  <script src="services/UploadService.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
