

<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <div class="starter-template" >
           <!-- <p class="lead" style="color:dodgerblue">
                A milestone tracking and knowledge sharing tool
            </p>-->
            <div style="position: relative;">
                <a href="https://www.youtube.com/watch?v=UGWLAuDRoAw" target="_blank">
                    <img src="http://10.110.19.211:3000/artifacts/cerebro-flow.png"
                         alt="Introduction" height="240" width="800">
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Play_oranje.png"
                         alt="Play"
                         width="60" height="60" style="position: absolute; bottom: 50px;right: 440px; opacity: 0.4" />-->
                </a>
            </div>
            <br/>
            <p class="lead" style="color:dodgerblue">
                <strong>Cerebro explained ..</strong>
            </p>
            <div class="col-md-9" style="color: grey; font-size: 1.1em;line-height: 26px;">
                <ul><li><strong>Create</strong> a project using built-in project template (phases) and add associated stakeholders</li>
                    <li><strong>Identify</strong> your project goals and create milestones to track them</li>
                    <li><strong>Upload</strong> artifacts against each milestone and seek stakeholders sign-off</li>
                    <li><strong>Collaborate</strong> to review artifacts, identify risks and seek feedback/comments</li>
                    <li><strong>Track</strong> risks, feedback/comments and milestones to closure</li>

                </ul>
                <br/>
                <div class="col-md-offset-9">
                    <a href="/app/#/login" class="btn btn-success btn-lg" ng-show="!globals.currentUser"><strong>Take me in ..</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>